extends layout
block content
  .jumbotron(align="center")
    h1 Acknowledgements
    h4 This site is dedicated to the Open Source community
  .container
    h4 Special thanks to:
    ul
      li 
        a(href="http://getbootstrap.com/") The Twitter Bootstrap project
      li 
        a(href="https://github.com/thomaspark/bootswatch") Bootswatch CSS
      li 
        a(href="http://ckeditor.com/") CKEditor
      li 
        a(href="https://nodejs.org/") Node.js
      li 
        a(href="http://expressjs.com/") ExpressJS
    p All external libraries used on this site, as well as the source code for the site itself, are licenced under the #[a(href="http://opensource.org/licenses/MIT") MIT License].
    p This means that anyone can use any of the software in #[a(href="http://www.github.com/tjade273/anthology") my repository] for any purpose, non-profit or otherwise.    
      
