-var quote = {Simple:"Everything should be made as simple as possible, but not simpler.",Powerful:"Knowledge is power.",Precise:"Concision in style, precision in thought, decision in life.",Elegant:"Elegance is not a dispensable luxury but a factor that decides between success and failure.",Collaborative:"If I have seen further it is by standing on ye sholders of Giants."}
-var sources = {Simple:"Albert Einstein",Powerful: "Francis Bacon",Precise:"Victor Hugo",Elegant:"Edsger Dijkstra",Collaborative:"Isaac Newton <br/><br/><a href='./submit'>Contrubute to this page</a>"}
