extends layout
block content
  .jumbotron(align="center")
    h1 Table of Contents
  .container
    h3 Poems written before 1914
    .list-group
      a.list-group-item(href="http://www.bartleby.com/248/85.html") "The Death of the Flowers" by William Cullen Bryant
      a.list-group-item(href="http://www.poetryfoundation.org/poem/178359") "The Conqueror Worm" by Edgar Allan Poe
      a.list-group-item(href="http://www.poetryfoundation.org/poem/174746")  "Vigil Strange I Kept on the Field one Night" by Walt Whitman
    h3 Poems written between 1914 and 1964
    .list-group
      a.list-group-item(href="http://www.poetryfoundation.org/poem/240292") "To the Swimmer" by Countee Cullen
      a.list-group-item(href="http://www.poetryfoundation.org/poem/182084") "Black Earth" by Marianne Moore
      a.list-group-item(href="http://www.poetryfoundation.org/poem/241054") "Canto LXXXI" by Ezra Pound
    h3 Poems written after 1965
    .list-group
      a.list-group-item(href="http://www.poetryfoundation.org/poem/250362") "Whitman's Pantry" by T.R. Hummer
      a.list-group-item(href="http://www.poetryfoundation.org/poem/245698") "Darwin" by Lorine Niedecker
      a.list-group-item(href="http://www.poetryfoundation.org/poem/246152") "Various Portents" by Alice Oswald
    h3 Autobiography
    .list-group
      a.list-group-item(href="http://www.chem.fsu.edu/chemlab/isc3523c/feyn_surely.pdf") <em> Surely You're Joking, Mr. Feynman </em> by Richard Feynman
    h3 Newspaper Columns
    .list-group
      a.list-group-item(href="http://www.newyorker.com/magazine/2015/04/20/what-videos-show") "What Videos Show" by Amy Davidson
      a.list-group-item(href="http://www.nytimes.com/2015/04/26/opinion/sunday/the-justices-and-a-botched-execution.html") "The Justices and a Botched Execution"
      a.list-group-item(href="http://www.sciencemagazinedigital.org/sciencemagazine/04_july_2014?pg=9#pg9") "Raising the Bar" by Marcia McNutt
    h3 Las Lomas Students
    .list-group
      a.list-group-item(href="https://docs.google.com/document/d/1jKbrjoTRX2C4iZ4XMtS740hvseQx1A2oBWTYK7GX6bA/mobilebasic?pli=1&usp=gmail") "Dreams or Nightmares?" by Gayatri Nagnoor
      a.list-group-item(href="https://docs.google.com/document/d/1jKbrjoTRX2C4iZ4XMtS740hvseQx1A2oBWTYK7GX6bA/mobilebasic?pli=1&usp=gmail") "Nostalgia" by Martina Barrera-Hernandez
    h3 American Play
    .list-group
      a.list-group-item(href="http://www.marshfield.k12.wi.us/cms_files/resources/The%20Crucible%20full%20text.pdf") <em> The Crucible</em> by Arthur Miller
    h3 American Novel
    .list-group
      a.list-group-item(href="https://ebooks.adelaide.edu.au/f/fitzgerald/f_scott/gatsby/") <em> The Great Gatsby</em> by F. Scott Fitzgerald
    h3 Short Fiction
    .list-group
      a.list-group-item(href="https://americanliterature.com/author/stephen-crane/short-story/upturned-face") "Upturned Face" by Stephen Crane   
      a.list-group-item(href="http://xroads.virginia.edu/~hyper/POE/telltale.html") "The Tell-Tale Heart" by Edgar Allan Poe
      a.list-group-item(href="http://theliterarylink.com/flowers.html") "Flowers" by Alice Walker
    h3 19th Century Works
    .list-group
      a.list-group-item(href="http://www.poetry-archive.com/m/the_martyr.html") "The Martyr" by Herman Melville
      a.list-group-item(href="http://warprayer.org/") "The War Prayer" by Mark Twain
    h3 Miscellaneous Work
    .list-group
      a.list-group-item(href="http://www.physixfan.com/wp-content/files/GEBen.pdf") "Godel, Escher, Bach" by Douglas Hofstadter
      
      
